<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>cocos2dx</title>
    <link type="text/css" rel="stylesheet" href="/style/css/style1.css" />
</head>
<body>
    <div id="wrapper" class="display-box box-orient-vertical">
        <div id="toolbar" class="toolbar display-box normal">
            <div class="toolbar-button-container">
                <div class="toolbar-normal-buttons ">
                    <div class="button cancel-button dark-button back-button"><span><a href="cocos2dx.html"/></span>返回</div>
                </div>
            </div>
            <div class="title"><span>Unity3d</span></div>
            <div id="tips" class="tips box-flex-1 "></div>
        </div>
        <div id="content" class="display-box box-orient-horizontal">
            <div class="left-column">
                <div id="demoListWrap" class="demo-list-wrap">
                    <iframe id="demoListIframe" frameborder="0" class="content-iframe" src="demolist.html"></iframe>
                </div>
                <div id="editorWrap" class="editor-wrap editor-wrap-collapse">
                    <div id="editor" class="editor"></div>
                </div>
                <div id="visualToolWrap" class="visual-tool-wrap visual-tool-wrap-collapse">
                    <h2 class="use-tips">Select an element from right area</h2>
                </div>
            </div>
            <div id="iframeWrap" class="iframe-wrap box-flex-1 right-column display-box box-orient-vertical">
                <iframe frameborder="0" class="content-iframe" src="welcome.html"></iframe>
            </div>
        </div>
    </div>

<!-- template list -->
<script id="borderTmpl" type="text/plain" >
<%  
var prop, i, pos, j, com, val, com1;
for(i in list){ 
    prop = list[i];
    com = style[property + '-' + prop];
    if(!com){
        /*com = [];
        com1 = [];
        for(j in position){
            pos = position[j];
            val = style[property + '-' + pos + '-' + prop];
            if(!!val){
                com.push(val);
            }else{
                val = 'initial';
            }
            com1.push(val);
        }
        if(!(com + '')){
            com = '';
        }else if(com.length == 4){
            if(com[1] == com[3]){
                com.splice(3,1);
                if(com[0] == com[2]){
                    com.splice(2,1);
                    if(com[0] == com[1]){
                        com.splice(1,1);
                    }
                }
            }
            com = com.join(' ');
        }else{
            com = com1.join(' ');
        }*/
    }else{
        
    }
    %>
        <li class="<%=property%>-<%=prop%> <% /*collapse */ %>">
            <h4><label><span><%=prop%></span>
                <% /*<input cmd="updateSeparateProperty" param="<%=property%>-<%=prop%>" class="<%=property%>-<%=prop%> <%=property%>-<%=prop%>-all" value="<%=com%>" oldvalue="<%=com%>"> */%>
                </label><% /*<a cmd="expandProperty" class="expand" href="###"></a>*/ %></h4>
          <% 
            for(j in position){
                pos = position[j];
          %>
            <div><label><span><%=pos%></span>
                <input cmd="updateMergeProperty" param="<%=property%>-<%=prop%>" key="<%=key%>|<%=property%>-<%=pos%>-<%=prop%>" class="<%=property%>-<%=pos%>-<%=prop%>" value="<%=(style[property + '-' + pos + '-' + prop]) || ''%>" oldvalue="<%=(style[property + '-' + pos + '-' + prop]) || ''%>"></label></div>
          <%      
            }
          %>
        </li>
<% } %>
</script>
<script id="marginTmpl" type="text/plain" >
<%  
    var prop, i, pos, j, com, val, com1;
%>
        <li class="<%=property%> <% /*collapse */ %>">
          <% 
            for(j in position){
                pos = position[j];
                val = style[property + '-' + pos];
          %>
            <div><label><span><%=pos%></span>
                <input cmd="updateMergeProperty" param="<%=property%>" key="<%=key%>|<%=property%>-<%=pos%>" class="<%=property%>-<%=pos%>" value="<%=val || ''%>" oldvalue="<%=val || ''%>"></label></div>
          <%      
            }
          %>
        </li>

</script>

<script id="borderRadiusTmpl" type="text/plain" >
<%  
    var prop, i, pos, j, com, val, com1;
%>
        <li class="<%=property%> <% /*collapse */ %>">
          <% 
            for(j in position){
                pos = position[j];
                val = style['border' + '-' + pos + '-' + 'radius'];
          %>
            <div><label><span><%=pos%></span>
                <input cmd="updateMergeProperty" param="<%=property%>" key="<%=key%>|border-<%=pos%>-radius" class="border-<%=pos%>-radius" value="<%=val || ''%>" oldvalue="<%=val || ''%>"></label></div>
          <%      
            }
          %>
        </li>

</script>

<script id="normalizedTmpl" type="text/plain" >
<%  
    var prop, i, val;
%>
        <li class="<%=property%>">
          <% 
            for(i in style){
                prop = i;
                val = style[i];
          %>
            <div><label><span><%=prop%></span>
                <input cmd="updateMergeProperty" param="<%=property%>" key="<%=key%>|<%=prop%>" class="<%=prop%>" value="<%=val || ''%>" oldvalue="<%=val || ''%>"></label></div>
          <%      
            }
          %>
        </li>

</script>

<script id="samePrefixTmpl" type="text/plain" >
<%  
    var prop, i, val;
%>
        <li class="<%=property%> ">
          <% 
            for(i in properties){
                prop = properties[i];
                val = style[property + '-' + prop];
          %>
            <div><label><span><%=prop%></span>
                <input cmd="updateMergeProperty" param="<%=property%>" key="<%=key%>|<%=property%>-<%=prop%>" class="<%=property%>-<%=prop%>" value="<%=val || ''%>" oldvalue="<%=val || ''%>"></label></div>
          <%      
            }
          %>
        </li>

</script>
<!-- end of template list -->
<!--ipt type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23019343-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</scri-->
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

<script type="text/javascript" src="/style/js/ztool.all.js"></script>

<script type="text/javascript" src="/style/js/ace/ace.js"></script>
<script type="text/javascript" src="/style/js/ace/mode-css.js"></script>
<script type="text/javascript" src="/style/js/ace/theme-tumblr.js"></script>

<script type="text/javascript" src="/style/js/css-parser.js"></script>

<script type="text/javascript" src="/style/js/qwt.config.js"></script>
<script type="text/javascript" src="/style/js/qwt.ui.js"></script>
<script type="text/javascript" src="/style/js/qwt.editor.js"></script>
<script type="text/javascript" src="/style/js/qwt.main.js"></script>
<script type="text/javascript" src="/style/js/qwt.start.js"></script>
