<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post" {% if page.image.feature %}class="feature"{% endif %}>

{% include browser-upgrade.html %}
{% include navigation.html %}
{% include scripts.html %}  
{% if page.image.feature %}
<div class="entry-header">
  {% if page.image.credit %}<div class="image-credit">Image source: {% if page.image.creditlink %}<a href="{{ page.image.creditlink }}">{% endif %}{{ page.image.credit }}{% if page.image.creditlink %}</a>{% endif %}</div><!-- /.image-credit -->{% endif %}
  <div class="entry-image">
    <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }}">
  </div><!-- /.entry-image -->
</div><!-- /.entry-header -->
{% endif %}

<div id="main" role="main">
  <article class="hentry">
    <header class="header-title">
      <div class="header-title-wrap">
        {% if page.link %}
          <h1 class="entry-title"><a href="{{ page.link }}">{{ page.title }}</a></h1>
        {% else %}
          <h1 class="entry-title"><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
        {% endif %}
        <h2>{{ page.date | date: "%B %d, %Y" }}</h2>
        {% if site.reading_time %}
        <p class="entry-reading-time">
          <i class="fa fa-clock-o"></i>
          {% assign readtime = content | number_of_words | divided_by:site.words_per_minute %}
          Reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}
        </p><!-- /.entry-reading-time -->
        {% endif %}
      </div><!-- /.header-title-wrap -->
    </header>

    <div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        {{ content }}


    </div>

    <div class="sidenav">
        <iframe width="100%" height="75" class="00share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=75&fansRow=2&ptype=1&speed=0&skin=5&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1762801317&verifier=0a9cb46b&dpc=1"></iframe>
    </div>
    <!--<div class="sidenav">-->
        <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
        <!--&lt;!&ndash; ad1 &ndash;&gt;-->
        <!--<ins class="adsbygoogle"-->
             <!--style="display:inline-block;width:250px;height:250px"-->
             <!--data-ad-client="ca-pub-6598025948526008"-->
             <!--data-ad-slot="4687690577"></ins>-->
        <!--<script>-->
            <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
        <!--</script>-->
    <!--</div>-->
    <!--<div class="sidenav">-->
        <!--<h2>Blog</h2>-->
        <!--<ul class="artical-list">-->
        <!--{% for post in site.categories.blog%}-->
            <!--<li><a href="{{ post.url }}">{{ post.title }}</a></li>-->
        <!--{% endfor %}-->
        <!--</ul>-->

        <!--<h2>Opinion</h2>-->
        <!--<ul class="artical-list">-->
        <!--{% for post in site.categories.opinion%}-->
            <!--<li><a href="{{ post.url }}">{{ post.title }}</a></li>-->
        <!--{% endfor %}-->
        <!--</ul>-->

        <!--<h2>Project</h2>-->
        <!--<ul class="artical-list">-->
        <!--{% for post in site.categories.project%}-->
            <!--<li><a href="{{ post.url }}">{{ post.title }}</a></li>-->
        <!--{% endfor %}-->
        <!--</ul>-->
    <!--</div>-->
</div>

<script src="/assets/js/post.js" type="text/javascript"></script>

  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

        

</body>
</html>
